.draw-circle {
  position: relative;
  margin: 155px auto;
  width: 336px; height: 336px;
  //border: 1px solid blue;
  border-radius: 50%;
  font-size: 0;
  overflow: hidden;
  img {
    width: 100%; height: 100%;
    display: block;
    margin: 0;
  }
  .cover-circle {
    position: absolute;
    left: 50%; top: 50%;
    margin-top: -50%; margin-left: -50%;
    width: 100%; height: 100%;
    background: yellowgreen;
    border-radius: 50%;
    &:before {
      content: "";
      display: block;
      width: 100%; height: 100%;
      border-radius: 0 100% 100% 0 / 50%;
      margin-left: 50%;
      background-color: orangered;
      transform-origin: left center;
      animation: spin 3s linear infinite, bg 6s step-end infinite;
      //animation-play-state: paused;
    }
  }
}

.part-demo {
  width: 333px; height: 333px;
  border-radius: 0 100% 100% 0 / 50%;
  margin-left: 50%;
  background-color: blue;
  transform-origin: center center;
  //animation: spin 3s linear infinite, bg 6s step-end infinite;
}

.pie {
  position: relative;
  width: 148px; line-height: 148px; height: 148px;
  display: inline-block;
  margin: 25px auto;
  border-radius: 50%;
  background: yellowgreen;
  background-image: linear-gradient(to right, transparent 50%, #48943d 0);
  color: transparent;
  text-align: center;
  &:before {
    content: "";
    position: relative;
    left: 50%; top: 0;
    display: block;
    width: 50%; height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 50s linear infinite, bg 100s step-end infinite;
    //animation-play-state: paused;
    animation-delay: inherit;
  }
}

@keyframes spin {
  to {transform: rotate(.5turn)}
}
@keyframes bg {
  50% {background: #48943d;}
}